body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
}

h1 {
    background-color: #2e7d32;
    color: white;
    padding: 20px;
}

h2 {
    color: #2e7d32;
}

form input, button {
    padding: 10px;
    width: 200px;
}

button {
    background-color: green;
    color: white;
    border: none;
}
